
nav {
    width: 100%;
    min-width: navMinWidth;
    @include contentBlock;
    background-color: black;
    @include tripAndtANDcZandOpacity;
    font-family: $appFont;
    header h1 {
      font-size: 2rem;
      text-align: left;
      line-height: 3.25rem;
      margin: 0;
      color: $appYellow;
      padding: 1%;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        }
        a {
          color: $appGrey;
          text-decoration: none;
          font-size: 1.1em;
          &:hover {
            @include aHover;
          }
        }
    li {
        display: block;
        color: $appGrey;
        font-family: $appFont;
        font-size: 1.1em;
        padding: 0.5%
    }
    &.noprofile-nav {
        min-width: $noProfMinWidth;
        h3 {
            font-size: 1.25em;
            text-align: center;
            color: $appGrey;
            margin: 0.5em;
        }
        a {
          color: $appYellow;
          &:hover {
            color: $appGrey;
          }
      }
        article {
            @include autoMarginElm(80%, 0);
            display: none;
        }
        p {
            color: $appGrey;
            line-height: 25px;
        }
        img {
            height: 20px;
        }
        ul {
            text-align: center;
        }
        form {
            @include autoMarginElm(90%, 0.5em);
            @include borderShadowElm;
            background-color: $appWhite;
            opacity: 2;
            ul {
              max-height: 65px;
              overflow-y: scroll;
            }
            h3 {
                color: $appBlack;
                margin: 0.6em 0;
            }
            input {
                font-family: $appFont;
                width: 90%;
                box-sizing: border-box;
                margin: 2px;
                &:last-child {
                    background-color: $appYellow;
                    border: $appBlack;
                    @include autoMarginElm(80px, 0.8em);
                    box-shadow: 0 0 0.5em $appBlack;
                }
                &:focus {
                    outline: #fff700;
                }
            }
        }
    }
}


nav.profile-nav {
    section {
      width: 100%;
      text-align: center;
      margin-left: 0;
      &.profile-image {
          float: left;
          width: 60%;
          opacity: 2;
      }
      &.past-trips {
          header{
              display: none;
              h2 {
                  margin-bottom: 0.5em;
                  text-align: center;
                  color: $appYellow;
              }
          }
          .trip-link {
              display: none;
          }
       }
    }
    aside.user-info {
        display: block;
        padding-top: 4%;
        padding-left: 60%;
        a {
          display: block;
          color: $appYellow;
          padding-left: 0.5%;
          padding-top: 3%;
          &:last-child {
              padding-top: 0;
          }
          &:hover {
            color: $appGrey;
          }
       }
       &::after {
            @include psuedoAfter;
        }
    }
    article.plan-trip {
        margin: 4%;
        @include autoMarginElm(80%, 0.5em);
        font-family: $appFont;
        &::after {
            @include psuedoAfter;
        }
        aside.new-search {
            form {
                margin-top: 1.5em;
                opacity: 2;
            }
        }
        h4 {
            text-align: center;
            font-size: 1.2em;
            margin-bottom: 0.2em;
        }
        h6 {
            text-align: center;
            font-size: 1em;
            margin: 0.2em;
        }
        form {
            @include autoMarginElm(90%, 0.5em);
            background-color: $appWhite;
            margin-top: 4em;
            border-radius: 2%;
            border: 1px solid $appBlack;
            box-shadow: 0 0 0.5em $appWhite;
            opacity: 2;
            p {
                margin: 0.1em;
                text-decoration: underline;
            }
            h3 {
                color: $appBlack;
                margin: 0.4em 0;
            }
            input {
                @include navInputStyles;
                &:last-child {
                    background-color: #ffff5e;
                    border: #000000;
                    width: 80px;
                    margin-top: 0.1em;
                    margin-bottom: 0.9em;
                    box-shadow: 0 0 0.5em #000000;
                }
                &:focus {
                    outline: #fff700;
                }
            }
            ul {
                margin: 0.3em 0;
                padding: 2%;
                list-style: circle;
                max-height: 86px;
                overflow-y: scroll;
                li {
                    padding: 1%;
                    color: #000000;
                    text-align: left;
                }
            }
        }
        a {
          color: $appYellow;
          &:hover {
            @include aHover;
            color: #cecece;
          }
       }
    }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
::-webkit-scrollbar-corner {
  background-color: #464646;
}

@media screen and (min-width: 480px) {
    nav.noprofile-nav {
        article {
            display: block;
            width: 65%;
        }
        form {
            width: 50%;
        }
    }
    nav.profile-nav {
        section {
            &.profile-image {
                text-align: right;
                padding-right: 5%;
                width: 47%;
            }
        }
        aside.user-info {
            padding-left: 56%;
        }
    }
}

@media screen and (min-width: 1000px){
    nav {
        width: 365px;
        height: 100vh;
        float: left;
        position: absolute;
        li {
            padding: 5%;
        }
        &.noprofile-nav {
            article {
                width: 85%;
            }
            form {
                width: 90%;
            }
        }
    }

    nav.profile-nav {
        width: 365px;
        li {
            padding: 1%;
        }
        aside.user-info {
            a {
                padding-top: 15%;
            }
        }
        section.profile-image {
            text-align: center;
            padding-left: 4%;
        }
        section.past-trips {
          margin-top: 2em;
            header{
                display: block;
                h2 {
                    margin-bottom: 0.5em;
                    text-align: center;
                    color: #ffff5e;
                }
            }
            .trip-link {
                display: block;
            }
        }
        form {
            ul {
                max-height: 86px;
            }
        }
    }
}
