
#map {
    display: block;
    margin: 0 auto;
    border: 1px solid #111111;
    height: 100vh;
    border-left: 0px;
    box-sizing: border-box;
    canvas {
        display: block;
    }
}
#map.tandc {
    height: 75vh;
}

@media screen and (min-width: 600px){
    #map {
        width: 70%;
        float: left;
    }
}
