
#map {
    display: block;
    z-index: 1;
    margin: 0 auto;
    border-left: 0px;
    box-sizing: border-box;
    canvas {
        display: block;
    }
}


@media screen and (min-width: 1000px){
    #map {
        width: 100%;
        height: 100vh;
        float: left;
    }
    div.ol-zoom {
        display: none;
    }
}
