#popup, #trailpopup, #mapClicked-popup {
    font-family: 'Patrick Hand SC', cursive;
    position: absolute;
    font-size: 13px;
    bottom: 33px;
    left: -31px;
    background-color: black;
    opacity: 0.7;
    //height: 100px;
    min-width: 200px;
    font-weight: lighter;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    p:first-child {
      padding-left: 20px;
    }
    p.link {
      cursor: pointer;
      color: #949494;
      &:hover {
        text-decoration: underline;
        color: #ffff5e;
      }
    }
    p {
      padding-left: 25px;
      padding-right: 25px;
    }
}
#popup:before, #mapClicked-popup:before {
	content: ' ';
	position: absolute;
	left: 25px;
	bottom: -9px;
	width: 14px;
	height: 14px;
	background-color: black;
	border-top: none;
	border-left: none;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

#trailpopup {
    font-family: 'Patrick Hand SC', cursive;
    height: 180px;
    width: 350px;
    bottom: 55px;
    text-align: center;
    h4 {
        margin-bottom: 0;
    }
    h5 {
        color: #ffff5e;
        margin: 0.2em 0;
    }
    h5:last-child {
        margin-top: 0.5em;
        clear: both;
    }
    section {
        width: 50%;
        float: left;
    }
}
