#popup {
    position: absolute;
    bottom: 25px;
    background-color: #ffffff;
    height: 100px;
    width: 250px;
    color: yellow;
    border: 2px solid yellow;
    p:last-child {
        margin-bottom: 0.5em;
    }
}
