#signin {
    min-width: 200px;
    max-width: 350px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #000000;
    box-shadow: 0 0 1em #000000;

    h2 {
        font-family: 'Patrick Hand SC', cursive;
        text-align: center;
    }
    input {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        &:last-child {
            background-color: #fff700;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5em;
            width: 65px;
            text-align: center;
        }
    }
    a {
        display: block;
        font-family: 'Patrick Hand SC', cursive;
        text-align: center;
        margin-bottom: 0.5em;
    }
}

@media screen and (min-width: 600px){
    #signin {
        margin-left: 35%;
        position: absolute;
        top: 15em;
        left: 6em;
    }
}
