#signin {
    min-width: 250px;
    max-width: 350px;
    width: 50%;
    margin: 1em auto;
    margin-bottom: 3em;
    border: 1px solid #111111;
    margin-top: 3em;
    box-shadow: 0 0 1em #000000;
    h2 {
        font-family: 'Patrick Hand SC', cursive;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    form {
        width: 90%;
        margin: 0 auto;

        input {
            display: inline-block;
            width: 100%;
            margin: 2px;
            box-sizing: border-box;

            &:focus {
                outline-color: #ffff5e;
            }
            &.file {
                outline: none;
            }
            &.file::-webkit-file-upload-button {
                  visibility: hidden;
            }
            &.file::before {
                width: 100%;
                box-sizing: border-box;
                content: 'Select Profile Image';
                display: inline-block;
                background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
                border: 1px solid #999;
                border-radius: 3px;
                padding: 5px 8px;
                outline: none;
                white-space: nowrap;
                -webkit-user-select: none;
                text-shadow: 1px 1px #fff;
                font-weight: 700;
                font-size: 10pt;
            }
            &.file:hover::before {
                border-color: black;
                cursor: pointer;
            }
            &.file:active::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }
            &:last-child {
                background-color: #fff700;
                display: block;
                margin: 0.5em auto;
                margin-bottom: 0.5em;
                width: 65px;
                text-align: center;
                border-radius: 5%;
                border: 1px solid #000000;
                box-shadow: 0 0 0.5em #000000;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    a {
        display: block;
        font-family: 'Patrick Hand SC', cursive;
        text-align: center;
        margin-bottom: 0.5em;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    article.create-user{
        input:last-child {
            margin-top: -10px;
            margin-bottom: 1em;
        }
    }
}

@media screen and (min-width: 1000px){
    #signin {
        position: absolute;
        top: 25%;
        left: 36%;
        margin-top: 0;
    }
}
