#map-items-list {
  width: 100%;
  float:left;
  font-family: 'Patrick Hand SC', cursive;
  background-color: #eaeaea;
  text-align: center;
  padding-top: 5px;
  h1 {
    margin: 0;
  }
}
section.trails, section.campgrounds {
  height: 115px;
}
.trails, .campgrounds{
  img {
    height: 25px;
    float: left;
    padding-right: 10px;
    padding-left: 13px;
  }
    width: 50%;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: #eaeaea;
    font-family: 'Patrick Hand SC', cursive;
    float:left;
    overflow: scroll;
    padding-right: 5px;
    h3 {
        margin-top: 0;
        padding-left: 18px;
        margin-bottom: 12px;
        margin-top: 5px;
        width: 50%;
    }
    ul {
        margin-top: 0;
        padding-left: 0;
        li {
            padding-left: 3.5em;
            display: block;
            list-style: none;
            padding-top: 2px;
            padding-bottom: 2px;
            cursor: pointer;
            &:hover {
              background-color: rgb(136, 136, 136);
            }
        }
    }
}

@media screen and (min-width: 600px){
    #map-items-list {
      width: 70%;
    }
    .trails, .campgrounds {
      width: 35%;
    }
}
