#map-item-list {
  height: 200px;
 @include tripANDmapResults;
  .trails, .campgrounds{
      @include tANDcClassStyles;
      h3 {
          margin: 0.3em 0;
          img {
            height: 25px;
            padding-left: 13px;
            padding-right: 10px;
          }
          #campground-img {
            padding-right: 17px;
          }
      }
   }
   .trails:first-child {
       h3 {
           padding-right: 40px;
       }
   }
}

@media screen and (min-width: 1000px){
    #map-item-list {
      width: 31%;
      margin: 5px;
      position: absolute;
      top: 0;
      right: 0;
    }
}
