#map-items-list {
  width: 100%;
  float:left;
  font-family: 'Patrick Hand SC', cursive;
  background-color: #eaeaea;
  text-align: center;
  padding-top: 5px;
  h1 {
    margin: 0;
  }
}
section.trails, section.campgrounds {
  height: 195px;
}
.trails, .campgrounds{
    width: 50%;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: #eaeaea;
    font-family: 'Patrick Hand SC', cursive;
    float:left;
    overflow: scroll;
    padding-left: 5px;
    h3 {
        margin-top: 0;
        text-align: center;
        margin-bottom: 12px;
        margin-top: 5px;
    }
    ul {
        margin-top: 0;
        padding-left: 0;
        li {
            padding-left: 2.5em;
            display: block;
            list-style: none;
            padding-top: 2px;
            padding-bottom: 2px;
            cursor: pointer;
            &:hover {
              background-color: rgb(136, 136, 136);
            }
        }
    }
}

@media screen and (min-width: 600px){
    nav.tandc {
        height: 75vh;
    }
}
