#trip-item-list {
  height: 209px;
  @include tripANDmapResults;
  h2 {
      margin:0.2em;
      font-size: 0.8em;
      text-align: center;
  }
  .trails, .campgrounds{
      @include tANDcClassStyles;
      h3 {
          margin: 0.3em 0;
          padding-left: 5px;
          img {
            height: 25px;
            padding-left: 13px;
          }
      }
   }
   .campgrounds:first-child {
       h3 {
           padding-right: 40px;
       }
   }
}

@media screen and (min-width: 1000px){
    #trip-item-list {
      width: 31%;
      margin: 5px;
      position: absolute;
      top: 0;
      right: 0;
    }
}
