//Pallete\\
$appYellow: #ffff5e;
$appGrey: #cecece;
$appWhite: #ffffff;
$appBlack: #000000;

//Fonts\\
$appFont: 'Patrick Hand SC', cursive;

//Nav\\
$navMinWidth: 135px;
$headerFontSize: 2em;

//Nav Colors\\
$navBckgrndColor: #4a4a4a;
