<map radius-coords='{{TandC.coordinates}}' data-title='map' id='map'></map>

<div id='search-popup' class='ol-popup'>
    <div class='popup-content'></div>
</div>

<section id='data-notice'>
    <article class='data-notice'>
        <h3>Notice</h3>
        <p>
           This app is in development.
           Currently we have <span>trails</span> marked in <span>Shenandoah National Park</span> and <span>Olympic National Park</span>.
           You can search for <span>campgrounds</span> throughout the <span>United States</span> only.
        </p>
    </article>
</section>
