
<tandcmap id='map' center='{{TandC.center}}' trails='{{TandC.trails}}' campgrounds='{{TandC.campgrounds}} 'popupelm='{{TandC.element}}'></tandcmap>

<div id='popup' class='ol-popup'>
    <div class='popup-content'></div>
    <!-- ISSSUE IS HERE\/\/\/\/\/\/\/ -->
    <p ng-click="TandC.addTrip(TandC.element)" class="link">Add to Trip</p>
</div>

<div id='mapClicked-popup' class='ol-popup'>
    <div class='popup-content'></div>
    <p ng-click="TandC.addMapClickedPopup()" class="link">Add to Trip</p>
</div>

<section id='map-item-list'>
    <h1>Here is what we found for you</h1>
    <section class='trails'>
        <h3><img src="/images/trailhead.png" /> Trails</h3>
        <ul>
            <li ng-repeat='trail in TandC.trails | length' ng-click='TandC.trailPopup(trail)'>
                {{trail.name}}
            </li>
        </ul>
    </section>
    <section class='campgrounds'>
        <h3><img src="/images/tent-icon.png" id="campground-img"/>Campgrounds</h3>
        <ul>
            <li ng-repeat='camp in TandC.campgrounds' ng-click='TandC.trailPopup(camp)'>
                {{camp.name}}
            </li>
        </ul>
    </section>
</section>
